/**
 * @file
 * Site-specific styles for HFC Computer Information Systems
 */

/** Custom styling for right sidebar. **/

aside#sidebar-second {
  background-color: #FAFAFA;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  margin: 8px 0 1.5em;
}

/** General **/

.more-link {
  text-align: inherit;
}
